.AnswerItem {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.AnswerItem:hover {
  background: rgba(255, 255, 255, 0.2);
}

.AnswerItem.success {
  background-color: rgb(34, 238, 85, 0.7);
}

.AnswerItem.error {
  background-color: rgb(231, 16, 44, 0.7);
}
